<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="./../assets/css/index.css">
</head>
<body>
    <h1>Strona główna</h1>
    <h2>{{pageTitle}}</h2>
    <h3>{{subTitle}}</h3>
    <form>
        <input id="input" type="text">
        <button id="btn">Submit</button>
        <div id="text"></div>
    </form>
    <script src="./../js/func.js"></script>
</body>
</html>